.site-header {
  background-image: url('images/src/designer-working-concept@1000.jpg');
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  background-color: #333;
  color: #fff;
}

.site-branding__scroll-btn {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #fff;
  text-indent: -9999px;
  display: block;
  position: relative;
  margin: 0 auto;
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5);
  animation: pulse-it 1.5s infinite cubic-bezier(0.66, 0, 0, 1);
}
